<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="layout/main">
  <head>
    <title th:text="${#strings.listJoin(emailAddresses, ', ')}"></title>
    <link rel="stylesheet" type="text/css" href="css/availability.css" />
    <script src="js/availability.js"></script>
  </head>
  <body th:attr="data-email-addresses=${#strings.listJoin(emailAddresses, ' ')}">
	<img src="images/free.png" />
    <header layout:fragment="header">
        <h1>Availability</h1>
        <ul class="resource-list u-clearfix" th:if="${emailAddresses}">
            <li th:each="it : ${emailAddresses}" th:text="${it}" th:attr="data-val=${it}" />
        </ul>
    </header>
    <section layout:fragment="content">
      <!-- <p>This is a paragraph from content page 1</p> -->
      <div id='calendar'></div>
    </section>
    <footer>
      <p layout:fragment="footer">This is some footer content from content page 1</p>
    </footer>
  </body>
</html>
