<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="layout/main">
  <head>
    <title th:text="${emailAddress}"></title>
    <link href="./css/availability.css" />
    <script src="js/availability.js"></script>
  </head>
  <body>
    <header layout:fragment="header">
      <h1 th:text="${emailAddress}"></h1>
    </header>
    <section layout:fragment="content">
      <p>This is a paragraph from content page 1</p>
      <div id='calendar'></div>
    </section>
    <footer>
      <p layout:fragment="footer">This is some footer content from content page 1</p>
    </footer>
  </body>
</html>
